<!-- about us  -->
<div class="container about">
    <div class="row">
        <!-- part 1 : what we do -->
        <div class="col s12  about-section">
            <div class="about-p1-imgs">
                <img src="http://img.yeep.com.au/about/about1.jpg" alt="">
                <img src="http://img.yeep.com.au/about/about2.jpg" alt="">
                <img src="http://img.yeep.com.au/about/about3.jpg" alt="">
                <img src="http://img.yeep.com.au/about/about4.jpg" alt="">
                <h4 class="about-title">What we do?</h4>
            </div>
        </div>
        <div class="col s12 m12 l8 offset-l2 about-section">
            <p class="about-p1-text">
                <span class="about-text-special">Yeep</span>, you can find great local businesses like gyms, financial services, pet stores, travel agencies and restaurants. We're here to support Australian local business and the communities they support. We connect local consumers with retailers and service providers.<br>
            </p>
            <p class="about-p1-text">
                Here what we do: we connect local consumers with retailers and service providers.
            </p>
            <p class="about-p1-text">
                We're here to support Australian local business and the communities they support. Right now, we have information of more than 140,000 local businesses. And we have two simple rules for listing your business on our website: you must sell products or provide services directly to the public, and, you must have a shop, office or premises open to your customers even if you are an online or mobile only business. Yeep is the best way to find great local businesses of Australia. People use Yeep to search for everything from the city's finest steak to the hottest gym trainer.
            </p>
        </div>
    </div>

    <div class="row">
        <!-- part2 : our team -->
        <div class="col s12 about-section">
            <div class="about-p2-imgs">
                <img src="http://img.yeep.com.au/about/team1.jpg" alt="">
                <img src="http://img.yeep.com.au/about/team2.jpg" alt="">
                <img src="http://img.yeep.com.au/about/team3.jpg" alt="">
                <h4 class="about-title">Our Team</h4>
            </div>
        </div>

        <div class="col s12 m12 l10 offset-l1 about-section no-margin-bottom">
            <div class="row no-margin-bottom">
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head1"></div>
                    <p class="about-p2-name">Kwan</p>
                </div>
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head2"></div>
                    <p class="about-p2-name ">Toky</p>
                </div>
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head3"></div>
                    <p class="about-p2-name ">Chellin</p>
                </div>
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head4"></div>
                    <p class="about-p2-name ">Edward</p>
                </div>
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head5"></div>
                    <p class="about-p2-name">Jeanie</p>
                </div>
                <div class="col s6 m4 l4">
                    <div class="about-p2-header head6"></div>
                    <p class="about-p2-name ">Jacky</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- part3 : business & customer -->
        <div class="col s12 about-section">
            <div class="about-p3-imgs">
                <img src="http://img.yeep.com.au/about/seller.jpg" alt="">
                <img src="http://img.yeep.com.au/about/buyer.jpg" alt="">
                <h4 class="about-title">Business & Customer</h4>
            </div>
        </div>

        <div class="col s12 m6 about-section">
            <p class="about-p3-title">Business</p>
            <ul class="about-p3-list">
                <li>Add your company name and logo</li>
                <li>Describe your business and open time</li>
                <li>Display your contact details</li>
                <li>A map on your profile page makes it easy for customers to find you</li>
                <li>Add contents to highlight slogan, key products, services or projects</li>
                <li>A contact form so your customers can email you</li>
                <li>Add links to your social media profiles</li>
                <li>Publish news releases and articles (Coming soon)</li>
                <li>Promote special offers (Coming soon)</li>
            </ul>
        </div>

        <div class="col s12 m6 about-section">
            <p class="about-p3-title">Customer</p>
            <ul class="about-p3-list">
                <li>Find out the best local services in Australia</li>
                <li>Help differentiate amongst competitors</li>
                <li>Keep you from having a bad experience</li>
                <li>Help you identify new experiences</li>
                <li>Make providers more experience conscious</li>
                <li>Write reviews on our website, add credibility to any offering.(Coming soon)</li>
                <li>Find events, lists and to talk with other Yeepers.(Coming soon)</li>
            </ul>
        </div>
    </div>
</div>
