<!-- BROWSER BY OTHER => bbo -->
<div class="container">
    <div class="bbo-top">
        <div class="row">
            <h1 class=" col s12 cl-title cl-heading-h1">Browser By Other</h1>
            <div class="col s4 l2 bbo-tab">
                <a href="#" class="active">Region</a>
            </div>
            <div class="col s4 l2 bbo-tab">
                <a href="#">Suburb</a>
            </div>
            <div class="col s4 l2 bbo-tab">
                <a href="#">Brands</a>
            </div>
            <div class="col s4 l2 bbo-tab">
                <a href="#">Name</a>
            </div>
            <div class="col s4 l2 bbo-tab">
                <a href="#">Stores</a>
            </div>
            <div class="col s4 l2 bbo-tab">
                <a href="#">Category</a>
            </div>
        </div>

        <div class="bbo-filter">
            <a href="!" class="btn btn-floating btn-flat cl-red-text active">pop</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">A</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">B</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">C</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">D</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">E</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">F</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">G</a>

            <a href="!" class="btn btn-floating btn-flat cl-red-text">H</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">I</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">J</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">K</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">L</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">M</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">N</a>

            <a href="!" class="btn btn-floating btn-flat cl-red-text">O</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">P</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">Q</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">R</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">S</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">T</a>

            <a href="!" class="btn btn-floating btn-flat cl-red-text">U</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">V</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">W</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">X</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">Y</a>
            <a href="!" class="btn btn-floating btn-flat cl-red-text">Z</a>
        </div>
    </div>

    <!-- content list -->
    <div class="bbo-main">
        <div class="row bbo-list">
            <ul class="col s6 m4 l3">
                <li><a href="#">Aldershot</a></li>
                <li><a href="#">Bauple</a></li>
                <li><a href="#">Bidwill</a></li>
                <li><a href="#">Boonooroo</a></li>
                <li><a href="#">Burrum Heads</a></li>
                <li><a href="#">Craignish</a></li>
                <li><a href="#">Dundowran</a></li>
                <li><a href="#">Dundowran Beach</a></li>
                <li><a href="#">Eli Waters</a></li>
            </ul>
            <ul class="col s6 m4 l3">
                <li><a href="#">Granville</a></li>
                <li><a href="#">Hervey Bay</a></li>
                <li><a href="#">Howard</a></li>
                <li><a href="#">Kawungan</a></li>
                <li><a href="#">Maryborough</a></li>
                <li><a href="#">Maryborough West</a></li>
                <li><a href="#">Nikenbah</a></li>
                <li><a href="#">Oakhurst</a></li>
                <li><a href="#">Pacific Haven</a></li>
            </ul>
            <ul class="col s6 m4 l3">
                <li><a href="#">Pialba</a></li>
                <li><a href="#">Point Vernon</a></li>
                <li><a href="#">Poona</a></li>
                <li><a href="#">River Heads</a></li>
                <li><a href="#">Scarness</a></li>
                <li><a href="#">Sunshine Acres</a></li>
                <li><a href="#">Takura</a></li>
                <li><a href="#">Tiaro</a></li>
                <li><a href="#">Tinana</a></li>
            </ul>
            <ul class="col s6 m4 l3">
                <li><a href="#">Tinana South</a></li>
                <li><a href="#">Toogoom</a></li>
                <li><a href="#">Torbanlea</a></li>
                <li><a href="#">Torquay</a></li>
                <li><a href="#">Urangan</a></li>
                <li><a href="#">Urraween</a></li>
                <li><a href="#">Walligan</a></li>
                <li><a href="#">Wondunna</a></li>
            </ul>
        </div>
        <div class="row">
            <ul class="col s12 center-align pagination cl-pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>

    <!-- recommend -->
    <div class="bbo-rcm">
        <div class="row bbo-rcm-good">
            <div class="col s12 m4">
                <div class="card good-item">
                    <a href="#">
                        <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                        <div class="good-content">
                            <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                            <span class="good-price cl-red-text">$64.96</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card good-item">
                    <a href="#">
                        <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                        <div class="good-content">
                            <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                            <span class="good-price cl-red-text">$64.96</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card good-item">
                    <a href="#">
                        <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                        <div class="good-content">
                            <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                            <span class="good-price cl-red-text">$64.96</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row boo-rcm-list">
            <div class="col s12 m4">
                <div class="card-panel">
                    <h5 class="rcm-list-title">Categories</h5>
                    <ul>
                        <li><a href="#">Automotive</a></li>
                        <li><a href="#">Cycling </a></li>
                        <li><a href="#">Cooking</a></li>
                        <li><a href="#">Car</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Business</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <h5 class="rcm-list-title">Popular Stores</h5>
                    <ul>
                        <li><a href="#">Automotive</a><span class="right grey-text">123 stores</span></li>
                        <li><a href="#">Cycling </a><span class="right grey-text">53 stores</span></li>
                        <li><a href="#">Cooking</a><span class="right grey-text">33 stores</span></li>
                        <li><a href="#">Car</a><span class="right grey-text">28 stores</span></li>
                        <li><a href="#">Sport</a><span class="right grey-text">20 stores</span></li>
                        <li><a href="#">Business</a><span class="right grey-text">12 stores</span></li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <h5 class="rcm-list-title">Popular Brands</h5>
                    <ul>
                        <li><a href="#">Automotive</a><span class="right grey-text">123 stores</span></li>
                        <li><a href="#">Cycling </a><span class="right grey-text">53 stores</span></li>
                        <li><a href="#">Cooking</a><span class="right grey-text">33 stores</span></li>
                        <li><a href="#">Car</a><span class="right grey-text">28 stores</span></li>
                        <li><a href="#">Sport</a><span class="right grey-text">20 stores</span></li>
                        <li><a href="#">Business</a><span class="right grey-text">12 stores</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>