<!-- Home -->
<div class="home-banner-wrap">
    <h1 class="home-slogan">Explore What's Around You</h1>
    <h2 class="cl-title home-slogan-desc">Find local takeaway, golf courses or beauty salons</h2>
    <div class="row home-banner-search">
        <form>
            <div class="row no-margin-bottom">
                <div class="input-field col s12 m5 l5 banner-what">
                    <input id="bannerWhat" type="text" placeholder="bar, pet shop, hotel" class="auto-what"
                           data-type="what"/>
                    <span class="banner-search-clear search-clear"><i class="material-icons">close</i></span>
                </div>
                <div class="input-field col s12 m5 l5 banner-where">
                    <input id="bannerWhere" type="text" placeholder="where" class="auto-where" data-type="where"/>
                    <span class="banner-search-clear search-clear"><i class="material-icons">close</i></span>
                </div>
                <div class="col s12 m2 l2 center-align no-padding">
                    <button class="banner-search-submit"><i class="material-icons">search</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container home-main">
    <!-- Banner -->

    <!-- Category -->
    <div class="row no-margin-bottom">
        <h2 class="col s12 cl-title home-title">Popular</h2>
        <ul class="col s12 category-tabs">
            <li class="cat-tab active">Exercise</li>
            <li class="cat-tab">Financial Services</li>
            <li class="cat-tab">Pet</li>
            <li class="cat-tab">Automotive</li>
            <li class="cat-tab">Travel</li>
            <li class="cat-tab">Restaurants</li>
        </ul>
        <div class="col-12">

            <!-- exercise -->
            <div class="category-content active" id="exercise">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=gym">
                            <img src="http://img.yeep.com.au/banner/exercise/24_hour_gym.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Gym</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Fishing Equipment">
                            <img src="http://img.yeep.com.au/banner/exercise/fishing_equipment.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Fishing</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Golf Equipment">
                            <img src="http://img.yeep.com.au/banner/exercise/golf_equipment.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Golf</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Weight Loss">
                            <img src="http://img.yeep.com.au/banner/exercise/weight_loss.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Lose Weight</span></h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- financial -->
            <div class="category-content" id="financial">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Bank">
                            <img src="http://img.yeep.com.au/banner/financial/bank.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>bank</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Business Loans & Finance">
                            <img src="http://img.yeep.com.au/banner/financial/business_loans.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>business loans</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Currency Exchange">
                            <img src="http://img.yeep.com.au/banner/financial/currency_exchange.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>currency exchange</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Personal Loans & Finance">
                            <img src="http://img.yeep.com.au/banner/financial/personal_loan_&_finance.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>personal_loan</span></h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- pet -->
            <div class="category-content" id="pet">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Animal Training">
                            <img src="http://img.yeep.com.au/banner/pet/animal_training.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>animal training</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Pet Shop">
                            <img src="http://img.yeep.com.au/banner/pet/pet_grooming_&_washing.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>pet grooming</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Pet Grooming & Washing">
                            <img src="http://img.yeep.com.au/banner/pet/pet_shop.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>pet shop</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Pet Supplies & Accessories">
                            <img src="http://img.yeep.com.au/banner/pet/pet_supplies_&_accessories.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>pet supplies</span></h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- automotive -->
            <div class="category-content" id="automotive">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Car Auctions">
                            <img src="http://img.yeep.com.au/banner/automotive/car_auctions.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Car Auctions</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Car Rentall">
                            <img src="http://img.yeep.com.au/banner/automotive/car_rentall.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Car Rentall</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Pettol Station">
                            <img src="http://img.yeep.com.au/banner/automotive/petrol_station.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Pettol Station</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Taxi Service">
                            <img src="http://img.yeep.com.au/banner/automotive/taxi_service.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Taxi Service</span></h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- travel -->
            <div class="category-content" id="travel">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Breakfast">
                            <img src="http://img.yeep.com.au/banner/travel/bed_&_breakfast.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Breakfast</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Holiday House">
                            <img src="http://img.yeep.com.au/banner/travel/holiday_house.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Holiday House</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Hotel">
                            <img src="http://img.yeep.com.au/banner/travel/hotel.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Hotel</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Motel">
                            <img src="http://img.yeep.com.au/banner/travel/motel.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Motel</span></h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- restaurant -->
            <div class="category-content" id="restaurants">
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Bar">
                            <img src="http://img.yeep.com.au/banner/restaurants/bar.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Bar</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Cafe">
                            <img src="http://img.yeep.com.au/banner/restaurants/cafe.jpg" class="card-image cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Cafe</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Club">
                            <img src="http://img.yeep.com.au/banner/restaurants/club.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Club</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="cat-item z-depth-1">
                        <a href="/search?what=Juice Bar">
                            <img src="http://img.yeep.com.au/banner/restaurants/juice_bar.jpg" class="cat-img" alt="">
                            <h3 class="cat-item-name cl-title"><span>Juice Bar</span></h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Listing -->
    <div class="row">
        <h2 class="col s12 cl-title home-title">New Listing</h2>
        <div class="col s6 m6 l3">
            <a href="#/store">
                <div class="card-panel">
                    <p class="nl-store-name">Sporty’s Warehouse</p>
                    <p class="nl-store-slogan">Australia's Largest Sports Store</p>
                    <p class="nl-store-address">1/64–66 Ourimbah Rd Tweed Heads, NSW 2485</p>
                </div>
            </a>
        </div>
        <div class="col s6 m6 l3">
            <a href="#">
                <div class="card-panel">
                    <p class="nl-store-name">Sporty’s Warehouse</p>
                    <p class="nl-store-slogan">Australia's Largest Sports Store</p>
                    <p class="nl-store-address">1/64–66 Ourimbah Rd Tweed Heads, NSW 2485</p>
                </div>
            </a>
        </div>
        <div class="col s6 m6 l3">
            <a href="#">
                <div class="card-panel">
                    <p class="nl-store-name">Sporty’s Warehouse</p>
                    <p class="nl-store-slogan">Australia's Largest Sports Store</p>
                    <p class="nl-store-address">1/64–66 Ourimbah Rd Tweed Heads, NSW 2485</p>
                </div>
            </a>
        </div>
        <div class="col s6 m6 l3">
            <a href="#">
                <div class="card-panel">
                    <p class="nl-store-name">Sporty’s Warehouse</p>
                    <p class="nl-store-slogan">Australia's Largest Sports Store</p>
                    <p class="nl-store-address">1/64–66 Ourimbah Rd Tweed Heads, NSW 2485</p>
                </div>
            </a>
        </div>
    </div>


    <!-- Category -->
    <div class="row hide-on-small-only">
        <h2 class="col s12 cl-title home-title">Category</h2>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Clothing & Accessories</a></li>
                <li><a href="#">Education & Tutoring</a></li>
                <li><a href="#">Fresh Food & Drinks</a></li>
                <li><a href="#">Health & Beauty</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Clothing & Accessories</a></li>
                <li><a href="#">Education & Tutoring</a></li>
                <li><a href="#">Fresh Food & Drinks</a></li>
                <li><a href="#">Health & Beauty</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Clothing & Accessories</a></li>
                <li><a href="#">Education & Tutoring</a></li>
                <li><a href="#">Fresh Food & Drinks</a></li>
                <li><a href="#">Health & Beauty</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Clothing & Accessories</a></li>
                <li><a href="#">Education & Tutoring</a></li>
                <li><a href="#">Fresh Food & Drinks</a></li>
                <li><a href="#">Health & Beauty</a></li>
            </ul>
        </div>
    </div>

    <!-- Region -->
    <div class="row hide-on-small-only">
        <h2 class="col s12 cl-title home-title">Region</h2>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Alice Springs</a></li>
                <li><a href="#">Blue Mountains</a></li>
                <li><a href="#">Brisbane City</a></li>
                <li><a href="#">Bundaberg & Wide Bay</a></li>
                <li><a href="#">Canterbury/Bankstown</a></li>
                <li><a href="#">Central Tablelands</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Alice Springs</a></li>
                <li><a href="#">Blue Mountains</a></li>
                <li><a href="#">Brisbane City</a></li>
                <li><a href="#">Bundaberg & Wide Bay</a></li>
                <li><a href="#">Canterbury/Bankstown</a></li>
                <li><a href="#">Central Tablelands</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Alice Springs</a></li>
                <li><a href="#">Blue Mountains</a></li>
                <li><a href="#">Brisbane City</a></li>
                <li><a href="#">Bundaberg & Wide Bay</a></li>
                <li><a href="#">Canterbury/Bankstown</a></li>
                <li><a href="#">Central Tablelands</a></li>
            </ul>
        </div>
        <div class="col s6 m6 l3">
            <ul class="home-list">
                <li><a href="#">Alice Springs</a></li>
                <li><a href="#">Blue Mountains</a></li>
                <li><a href="#">Brisbane City</a></li>
                <li><a href="#">Bundaberg & Wide Bay</a></li>
                <li><a href="#">Canterbury/Bankstown</a></li>
                <li><a href="#">Central Tablelands</a></li>
            </ul>
        </div>
    </div>

    <!-- Our Story -->
    <div class="row story">
        <h2 class="col s12 story-title">The yeep story</h2>
        <div class="col s12 m12 l4">
            <h3 class="cl-title story-subtitle">What We Do</h3>
            <p class="story-text">At yeep, you can find great local businesses like gyms, financial services, pet
                stores, travel agencies and restaurants. We're here to support Australian local business and the
                communities they support. We connect local consumers with retailers and service providers.</p>
        </div>
        <div class="col s12 m12 l4">
            <h3 class="cl-title story-subtitle">Our Team</h3>
            <p class="story-text">Yeep team are a passionate bunch. We're dreamers. And we believe that anything is
                possible (ok, most anything). Most importantly, we has a world-class engineering team that makes it
                easier to connect people with great local businesses.</p>
        </div>
        <div class="col s12 m12 l4">
            <h3 class="cl-title story-subtitle">Our Future</h3>
            <p class="story-text">We’re dedicated in providing you the perfect way to find out the best local
                services in Australia. With the review function in the future, anyone can add credibility to any
                offering. Hence, we can keep you from having a bad experience as well as help you identify new
                experiences.</p>
        </div>
    </div>
</div>