<div class="container polices">
    <div class="row">
        <div class="col s12">
            <h1 class="cl-title cl-heading-h1">Terms Of Service</h1>
            <div class="card-panel polices-content">
                <div>
                    <h5 class="no-margin-top">General Terms & Conditions</h5>
                    <p>yeep.com.au ( the "Website" ) is an online Business Directory provided by Ausway
                        Pacific Pty Ltd (ABN 66 166 623 169 ) ( the "Company" ). By using this website, you are
                        agreeing to comply with and be bound by the terms, conditions and notices relating to its
                        use.</p>

                    <h5>Use of the Website</h5>
                    <ol>
                        <li><p class="terms-content-text">As a condition of your use of this Website,
                            you represent and warrant to the Company that you will not use this Website
                            for any purpose that is unlawful or prohibited by these terms, conditions,
                            and notices.</p>
                        </li>

                        <li>
                            <p class="terms-content-text">This Website contains one or more of the
                                following services: Stores Categories in Australia, Recent Activity,
                                Popular Stores, Popular Brands, Store's Address, Map, Satellite Image,
                                Phone and Regular Hours, Comment Section. You agree to use such services
                                only to send and receive messages and material that are proper and
                                related to the particular store. In addition to any other terms or
                                conditions of use of any information boards for your store, you agree
                                that when submitting one, you will not:</p>
                            <ol>
                                <li>
                                    <p class="terms-content-text">Publish, post, upload, distribute or
                                        disseminate any inappropriate, profane, derogatory, defamatory,
                                        infringing, improper, obscene, indecent or unlawful topic, name,
                                        material or information.</p>
                                </li>
                                <li>
                                    <p class="terms-content-text">Upload files that contain software or
                                        other material protected by intellectual property laws or by
                                        rights of privacy of publicity unless you own or control such
                                        rights or have received all necessary consents.</p>
                                </li>
                                <li>
                                    <p class="terms-content-text">Upload files that contain viruses,
                                        corrupted files, or any other similar software or programs that
                                        may damage the operation of another's computer.</p>
                                </li>
                                <li>
                                    <p class="terms-content-text">Defame, abuse, harass, stalk, threaten
                                        or otherwise violate the legal rights (such as rights of privacy
                                        and publicity) of others.</p>
                                </li>
                                <li>
                                    <p class="terms-content-text">Falsify or delete any author
                                        attributions, legal or other proper notices, proprietary
                                        designations, labels of the origin, source of software or other
                                        material contained in a file that is uploaded.</p>
                                </li>
                                <li>
                                    <p class="terms-content-text">Restrict or inhibit any other user
                                        from using and enjoying any services of the Stores Categories in
                                        Australia, Recent Activity, Popular Stores, Popular Brands,
                                        Store's Address, Map, Satellite Image, Phone and Regular Hours
                                        or Comment Section.</p>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <p class="terms-content-text">The Company has no obligation to monitor the
                                services of the Stores Categories in Australia, Recent Activity, Popular
                                Stores, Popular Brands, Store's Address, Map, Satellite Image, Phone and
                                Regular Hours or Comment Section. However, the Company reserves the
                                right at all times to disclose any information deemed by the Company
                                necessary to satisfy any applicable law, regulation, legal process or
                                governmental request, or to edit, refuse to post or to remove any
                                information or materials, in whole or in part.</p>
                        </li>

                        <li>
                            <p class="terms-content-text">You acknowledge that communications to or with
                                services of the Stores Categories in Australia, Recent Activity, Popular
                                Stores, Popular Brands, Store's Address, Map, Satellite Image, Phone and
                                Regular Hours or Comment Section are not private communications,
                                therefore others may read your information without your knowledge. You
                                should always use caution when providing any personal information about
                                yourself. The Company does not control or endorse the content, messages
                                or information found in any board of the Stores Categories in Australia,
                                Recent Activity, Popular Stores, Popular Brands, Store's Address, Map,
                                Satellite Image, Phone and Regular Hours or Comment Section and,
                                specifically disclaims any liability with regard to same and any actions
                                resulting from your participation. To the extent that there are
                                moderators, forum managers or hosts, none are authorized Company
                                spokespersons, and their views do not necessarily reflect those of the
                                Company.</p>
                        </li>

                        <li>
                            <p class="terms-content-text">You are responsible for the store address,
                                phone or any other store information that you submit to the Website. You
                                accept that we may at our discretion remove, withhold, edit, rephrase,
                                and monitor your submitted information before posting them on the
                                Website. Once you have submitted or posted your content, you grant the
                                Company and its affiliates a royalty-free, perpetual, irrevocable and
                                full right to use, reproduce, modify, adapt, publish, translate and
                                create derivatives works from, distribute and display such content
                                worldwide by whatsoever means.</p>
                        </li>
                    </ol>

                    <h5>Content on the Website</h5>
                    <ol>
                        <li>
                            <p class="terms-content-text">Whilst all care has been taken, the
                                information, products, and services included on this Website may include
                                inaccuracies or typographical errors. Changes are periodically added to
                                the information herein. The Company may make improvements and/or changes
                                in this Website at any time. Advice received via the Website should not
                                be relied upon for personal, legal or financial decisions and you should
                                consult an appropriate professional for specific advice tailored to your
                                situation.</p>
                        </li>
                        <li>
                            <p class="terms-content-text">The Company makes no representations about the
                                suitability, reliability, timeliness, and accuracy of the information,
                                products, and services contained on this Website for any purpose. All
                                such information, products, and services are provided "as is" without
                                warranty of any kind.</p>
                        </li>
                        <li>
                            <p class="terms-content-text">The Company hereby disclaims all warranties
                                and conditions with regard to the information, products, and services
                                contained on this Website, including all implied warranties and
                                conditions of merchantability, fitness for a particular purpose, title
                                and non-infringement.</p>
                        </li>
                        <li>
                            <p class="terms-content-text"> In no event shall The Company be liable for
                                any direct, indirect, punitive, incidental, special, consequential
                                damages or any damages whatsoever including, without limitation, damages
                                for loss of use, data or profits, arising out of or in any way connected
                                with the use or performance of this Website, with the delay or inability
                                to use this Website, with the provision of or failure to provide
                                services, or for any information, software, products, services and
                                related graphics obtained through the Website, or otherwise arising out
                                of the use of this Website, whether based on contract, tort, strict
                                liability or otherwise, even if the Company has been advised of the
                                possibility of damages.</p>
                        </li>
                        <li>
                            <p class="terms-content-text">Due to the fact that certain jurisdictions do
                                not permit or recognize an exclusion or limitation of liability for
                                consequential or incidental damages, the above limitation may not apply
                                to you. If you are dissatisfied with any portion of this Website, or
                                with any of these terms of use, your sole and exclusive remedy is to
                                discontinue using this Website.</p>
                        </li>
                    </ol>

                    <h5>Limited Liability</h5>
                    <ol>
                        <li>
                            <p class="terms-content-text">This agreement is governed by the Australian
                                law. You hereby consent to the exclusive jurisdiction and venue of
                                courts in Australia in all disputes arising out of or relating to the
                                use of this Website. Use of this Website is unauthorized in any
                                jurisdiction that does not give effect to all provisions of these terms
                                and conditions, including without limitation this paragraph. You agree
                                that no joint venture, partnership, employment, or agency relationship
                                exists between you and the Company as a result of this agreement or use
                                of this Website. The performance of this agreement by the Company is
                                subject to existing laws and legal process, and nothing contained in
                                this agreement is in derogation of its right to comply with
                                governmental, court and law enforcement requests or requirements
                                relating to your use of this Website or information provided to or
                                gathered with respect to such use. If any part of this agreement is
                                determined to be invalid or unenforceable pursuant to applicable law
                                including, but not limited to, the warranty disclaimers and liability
                                limitations set forth above, then the invalid or unenforceable provision
                                will be deemed superseded by a valid, enforceable provision that most
                                closely matches the intent of the original provision and the remainder
                                of the agreement shall continue in effect.</p>
                        </li>
                        <li>
                            <p class="terms-content-text">Ausway Pacific Pty Ltd is located at PO BOX
                                1016 Springvale, VIC 3171, Australia.</p>
                        </li>
                        <li>
                            <p class="terms-content-text">The content of the Website is protected by
                                international copyright laws. If you wish to copy, redistribute or
                                enquire about any of the information provided within this site please
                                contact the Company.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>