<div class="container" id="resetPwdApp">
    <input type="hidden" id="pv" value="resetPassword">
    <div class="row">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="card-panel" >
                <h4>Reset password</h4>
                <div id="resetStep1" v-show="!resetDone">
                    <form class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" maxlength="12" minlength="6"
                                   v-model="password1" required>
                            <label for="password" data-error="Enter new password.(6-12 characters)">password</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password2" type="password" class="validate" maxlength="12" minlength="6"
                                   v-model="password2" required>
                            <label for="password2" data-error="Confirm new password.(6-12 characters)">confirm password</label>
                        </div>
                    </form>
                    <div class="right-align">
                        <a href="#!" class="btn small cl-red white-text"
                           @click.prevent="reset">reset password</a>
                    </div>
                </div>

                <div id="resetStep2" style="display: none;" v-show="resetDone">
                    <p>Reset successful</p>
                    <p><a href="#/" class="btn cl-red white-text">Login</a></p>
                </div>
            </div>


        </div>
    </div>
</div>