<!-- STORE -->
<div class="container">
    <input type="hidden" id="pv" value="store">
    <div class="row">
        <div class="col s12">
            <div class="store-section store-section-header">
                <div class="row store-content-main" itemscope itemtype="http://schema.org/LocalBusiness">
                    <!-- store-header -->
                    <div class="col s12 store-header">
                        <img src="../img/src/sample/store_logo.png" alt="" class="store-logo">
                        <div>
                            <h1 class="store-name">Adidas Originals Cavill Ave</h1>
                            <p class="store-slogan">The Best 4 Star Motel and Restaurant in the South Burnett</p>
                            <div class="store-add-link hide-on-small-only">
                                <a href="http://www.baidu.com" class="btn cl-red login-check">add my store</a>
                                <a href="" class="btn cl-red login-check">claim</a>
                            </div>
                        </div>
                    </div>

                    <!-- store main left -->
                    <div class="col s12 m6">
                        <p class="store-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <i class="material-icons cl-red-text left">place</i>
                            <span>1/64–66 Ourimbah Rd Tweed Heads, NSW 2485</span>
                        </p>
                        <p class="store-phone" itemprop="telephone">
                            <i class="material-icons cl-red-text left">phone</i>
                            <a href="tel:(07)4163 6472">(07)4163 6472</a>
                        </p>
                        <p class="store-website" itemprop="url">
                            <i class="material-icons cl-red-text left">link</i>
                            <a href="http://japan.adidas.com/">http://japan.adidas.com/</a>
                        </p>
                        <!-- open time -->
                        <div class="store-time">
                            <p class="store-time-title cl-red-text"><i class="material-icons left">schedule</i>ClosedNow</p>
                            <table class="store-time-table">
                                <tbody>
                                <tr>
                                    <td>Mon</td>
                                    <td>8:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Tue</td>
                                    <td>8:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Wed</td>
                                    <td>8:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Thr</td>
                                    <td>8:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Fri</td>
                                    <td>8:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Sat</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Sun</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- contact link -->
                        <p class="store-contact">
                            <a href="#"><i class="material-icons">mail</i></a>
                            <a href="https://www.facebook.com/artofwhere" target="_blank" title="Facebook page">
                                <svg>
                                    <use xlink:href="#icon-facebook2"></use>
                                </svg>
                            </a>
                            <a href="https://twitter.com/artofwhereteam" target="_blank" title="Twitter profile">
                                <svg>
                                    <use xlink:href="#icon-twitter"></use>
                                </svg>
                            </a>
                            <a href="https://instagram.com/artofwhere" target="_blank" title="Instagram profile">
                                <svg>
                                    <use xlink:href="#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="https://www.pinterest.com/artofwhere" target="_blank" title="Pinterest page">
                                <svg>
                                    <use xlink:href="#icon-google-plus2"></use>
                                </svg>
                            </a>
                            <a href="https://plus.google.com/113940805469543102991" target="_blank"
                               title="Google+ page">
                                <svg>
                                    <use xlink:href="#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://plus.google.com/113940805469543102991" target="_blank"
                               title="Google+ page">
                                <svg>
                                    <use xlink:href="#icon-pinterest"></use>
                                </svg>
                            </a>
                        </p>


                    </div>

                    <!-- store main right -->
                    <div class="col s12 m6">
                        <!-- store map -->
                        <div class="store-map" id="storeMap"
                             data-lat="-27.3977832794" data-lng="152.960983276">
                        </div>

                        <!-- schema seo -->
                        <script type="application/ld+json">
                            {
                              "@context": "http://schema.org",
                              "@type": "Place",
                              "geo": {
                                "@type": "GeoCoordinates",
                                "latitude": "-27.3977832794",
                                "longitude": "152.960983276"
                              },
                              "name": "Defence Driving School"
                            }
                            </script>
                    </div>
                </div>
            </div>
        </div>

        <!-- -----------------STORE TOP END------------------- -->

        <!-- other info left -->
        <div class="col s12 m12 l8">
            <div class="store-section">
                <!-- store image -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Store Images</h2>
                    <!-- desktop & tablet -->
                    <div class="row store-images-wrapper hide-on-small-only">
                        <div class="col s12 m6">
                            <a href="http://img.yeep.com.au/sample/store_1.jpg" class="store-images-link" data-lightbox="storeImg">
                                <div class="store-img" style="background-image: url(http://img.yeep.com.au/sample/store_1.jpg);"></div>
                            </a>
                        </div>
                        <div class="col s12 m6">
                            <a href="http://img.yeep.com.au/sample/store_2.jpg" class="store-images-link" data-lightbox="storeImg">
                                <div class="store-img " style="background-image: url(http://img.yeep.com.au/sample/store_2.jpg);"></div>
                            </a>
                        </div>
                        <div class="col s12 m4">
                            <a href="http://img.yeep.com.au/sample/store_3.jpg" class="store-images-link" data-lightbox="storeImg">
                                <div class="store-img store-img-s"
                                     style="background-image: url(http://img.yeep.com.au/sample/store_3.jpg);"></div>
                            </a>
                        </div>
                        <div class="col s12 m4">
                            <a href="http://img.yeep.com.au/sample/store_4.jpg" class="store-images-link" data-lightbox="storeImg">
                                <div class="store-img store-img-s"
                                     style="background-image: url(http://img.yeep.com.au/sample/store_4.jpg);"></div>
                            </a>
                        </div>
                        <div class="col s12 m4">
                            <a href="http://img.yeep.com.au/sample/store_5.jpg" class="store-images-link" data-lightbox="storeImg">
                                <div class="store-images-more valign-wrapper">
                                    <p class="valign">All 9 photos</p>
                                </div>
                                <div class="store-img store-img-s"
                                     style="background-image: url(http://img.yeep.com.au/sample/store_5.jpg);"></div>
                            </a>
                        </div>
                        <div class="store-images-other">
                            <a href="http://img.yeep.com.au/banner/weight_loss.jpg" data-lightbox="storeImg"></a>
                            <a href="http://img.yeep.com.au/banner/24_hour_gym.jpg" data-lightbox="storeImg"></a>
                            <a href="http://img.yeep.com.au/banner/golf_equipment.jpg" data-lightbox="storeImg"></a>
                        </div>

                    </div>

                    <!-- mobile -->
                    <div class="store-images-wrapper-m hide-on-med-and-up">
                        <img src="http://img.yeep.com.au/sample/store_1.jpg" alt="">
                        <img src="http://img.yeep.com.au/sample/store_2.jpg" alt="">
                        <img src="http://img.yeep.com.au/sample/store_3.jpg" alt="">
                        <img src="http://img.yeep.com.au/sample/store_4.jpg" alt="">
                        <img src="http://img.yeep.com.au/sample/store_5.jpg" alt="">
                    </div>
                </div>

                <!-- Reviews -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Reviews</h2>
                    <div style="height: 200px"></div>
                </div>

                <!-- about us -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">About Us</h2>
                    <p class="store-section-content">
                        The brand uses the famous Trefoil logo, which was originally used on all adidas products
                        until
                        the company decided in 1997[3] that the trefoil logo would thereafter only be used on
                        heritage
                        products, and was replaced on other products by the Performance logo, which has previously
                        been
                        used on the "Equipment" range of products since 1991.[4] Adidas Originals covers sports
                        fashion
                        styles with strong references to the decades between the 1940s to 1980s. The brand has a
                        distinctively retro old school feel.
                    </p>
                </div>


                <!-- Our Product -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Our Product</h2>
                    <ul class="store-section-list">
                        <li>Clipsal</li>
                        <li>HPM</li>
                        <li>Legrand</li>
                        <li>Molex</li>
                        <li>Hager</li>
                        <li>NHP</li>
                    </ul>
                </div>

                <!-- Our Product -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Our Specialties</h2>
                    <ul class="store-section-list">
                        <li>Certified Molex installer</li>
                        <li>Fibre installations & repairs</li>
                        <li>Fibre testing</li>
                        <li>Repairs & maintenance for electrical equipment, wiring & circuitry</li>
                        <li>Building maintenance & repairs</li>
                        <li>Data installations & repairs</li>
                    </ul>
                </div>

                <!-- Our Services -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Our Services</h2>
                    <ul class="store-section-list">
                        <li>Electrical contracting</li>
                        <li>Data cabling</li>
                        <li>Fibre service installation</li>
                    </ul>
                </div>

                <!-- Our Services Areas-->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Our Services Areas</h2>
                    <ul class="store-section-list">
                        <li><a href="#">Bundaberg</a></li>
                        <li><a href="#">Bargara</a></li>
                        <li><a href="#">Gin Gin</a></li>
                        <li><a href="#">Childers</a></li>
                    </ul>
                </div>

                <!-- Our Category -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Our Services Areas</h2>
                    <ul class="store-category">
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Menswear</a></li>
                        <li><a href="#">Sportswear</a></li>
                        <li><a href="#">Gym Wear</a></li>
                        <li><a href="#">Swimwear</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- other info right -->
        <div class="col s12 m12 l3 offset-l1">

            <!-- Chain Stores -->
            <div class="store-section">
                <h2 class="store-section-title store-section-title-inline cl-red-text">Chain Stores</h2>
                <a href="#" class="btn btn-flat right store-section-more" title="more"><i
                        class="material-icons cl-red-text">arrow_forward</i></a>
                <ul class="store-chain">
                    <li>
                        <a href="#">
                            <p class="store-chain-name">Adidas Factory Outlet</p>
                        </a>
                        <p class="store-chain-address">Harbour Town Oxley Drv Biggera Waters, QLD 4216</p>
                        <p class="store-chain-phone">(07) 5500 6800</p>

                    </li>
                    <li>
                        <a href="#">
                            <p class="store-chain-name">Adidas Factory Outlet</p>
                        </a>
                        <p class="store-chain-address">Harbour Town Oxley Drv Biggera Waters, QLD 4216</p>
                        <p class="store-chain-phone">(07) 5500 6800</p>

                    </li>
                    <li>
                        <a href="#">
                            <p class="store-chain-name">Adidas Factory Outlet</p>
                        </a>
                        <p class="store-chain-address">Harbour Town Oxley Drv Biggera Waters, QLD 4216</p>
                        <p class="store-chain-phone">(07) 5500 6800</p>

                    </li>
                </ul>
            </div>


            <div class="store-section">
                <!-- Nearby Stores -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Nearby Stores</h2>
                    <ul class="store-section-li">
                        <li><a href="#">Audi Alto Artarmon</a><span class="right">1 km</span></li>
                        <li><a href="#">Alto Opel </a><span class="right">3 km</span></li>
                        <li><a href="#">McCarroll's Citroen</a><span class="right">5 km</span></li>
                    </ul>
                </div>

                <!-- Popular Stores -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Popular Stores In Place</h2>
                    <ul class="store-section-li">
                        <li><a href="#">Audi Alto Artarmon</a><span class="right">1 km</span></li>
                        <li><a href="#">Alto Opel </a><span class="right">3 km</span></li>
                        <li><a href="#">McCarroll's Citroen</a><span class="right">5 km</span></li>
                    </ul>
                </div>

                <!-- Popular Brands -->
                <div class="store-part">
                    <h2 class="store-section-title cl-red-text">Popular Brands In Place</h2>
                    <ul class="store-section-li">
                        <li><a href="#">Audi Alto Artarmon</a><span class="right">1 km</span></li>
                        <li><a href="#">Alto Opel </a><span class="right">3 km</span></li>
                        <li><a href="#">McCarroll's Citroen</a><span class="right">5 km</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- store bottom recommend -->
    <div class="row store-rcmd">
        <div class="col s12">
            <h3 class="cl-title store-rcmd-title">You May Also Like</h3>
        </div>
        <div class="col s12 m4">
            <div class="card good-item">
                <a href="#">
                    <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                    <div class="good-content">
                        <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                        <span class="good-price cl-red-text">$64.96</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card good-item">
                <a href="#">
                    <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                    <div class="good-content">
                        <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                        <span class="good-price cl-red-text">$64.96</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card good-item">
                <a href="#">
                    <img src="../img/src/sample/good_dog.jpg" class="card-image good-img" alt="">
                    <div class="good-content">
                        <p class="good-title grey-text darken-4">Vienna PU Leather Bar Stool - Black</p>
                        <span class="good-price cl-red-text">$64.96</span>
                    </div>
                </a>
            </div>
        </div>

        <p class="col s12 store-rcmd-outside">Recommend Categories:
            <a href="#">Automotive</a>
            <a href="#">Sports</a>
            <a href="#">Exercise</a>
            <a href="#">Pet Supplies & Care</a>
            <a href="#">Financial Services</a>
        </p>
    </div>
</div>